body {
    background-color: #d6cece;
}

/* STYLE CSS UNTUK CARD BAAGIAN ATAS */
.card {
    /* background-color: aqua; */
    padding: 200px;
    margin: 1cm auto;
    max-width: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 10rem;
    margin-top: 1cm;
    margin-bottom: -1cm;
    margin-left: 20rem;
}

.card h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    margin-top: 2cm;
    margin-bottom: -3cm;
    margin-left: 20rem;
}
.card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: 20rem;
    margin-top: 3cm;
}

.card .foto {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: 100% 0%;
  border-radius: 50%; 
  position: absolute;
  top: 4cm;
  left: 1cm;
}


/* STYLE CSS UNTUK CARD BAGIAN BAWAH */
.biocard {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    position: relative;
    top: 25cm;
    border-radius: 50px;
}


.biocard img {
    width: 350px;
    height: 350px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    border-radius: 20px;
    position: static; /* Hapus absolute */
}

.biotext {
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;
    margin: 0;
    box-sizing: border-box;
    align-self: flex-start;
    overflow-wrap: break-word;
}

.biocard .biotext h1 {
    font-size: 5rem;
    margin-top: -0.5cm;
    margin-bottom: 0cm;
}
@media (max-width: 900px) {
    .biocard {
        flex-direction: column;
        align-items: center;
    }
    .biocard img {
        width: 50vw;
        height: auto;
        margin-bottom: 1rem;
    }
    .biotext {
        font-size: 0.7rem;
        max-width: 100%;
        text-align: center;
    }
    .biocard .biotext h1 {
        font-size: 3rem;
        text-align: center;
    }
}