body {
    background-color: #d6cece;
}

/* STYLE CSS UNTUK CARD BAAGIAN ATAS */
.card {
    /* background-color: aqua; */
    padding: 200px;
    margin: 1cm auto;
    max-width: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 10rem;
    margin-top: 1cm;
    margin-bottom: -1cm;
    margin-left: 20rem;
}

.card h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    margin-top: 2cm;
    margin-bottom: -3cm;
    margin-left: 20rem;
}
.card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-left: 20rem;
    margin-top: 3cm;
}

.card .foto {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: 100% 0%;
  border-radius: 50%; 
  position: absolute;
  top: 4cm;
  left: 1cm;
}


/* STYLE CSS UNTUK CARD BAGIAN BAWAH */
.biocard {
    background-color: white; 
    width: 100%;
    padding-bottom: 20cm;
    position: absolute;
    top: 25cm;
    left: 0;
    right: 0;
    bottom: 0;
}

.biotext {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    position: absolute;
    top: 0;
    left: 20cm;
    right: 0;
    bottom: 0;
}

.biocard .biotext h1 {
    font-size: 5rem;
    margin-top: -0.5cm;
    margin-bottom: 2cm;
}

.biocard img {
    width: 600px;
    height: 600px; 
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 2cm;
    left: 3cm;
    right: 0;
    bottom: 0;
}